* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.Daejeon-video-box video {
  width: calc(100%);
  height: 50vw;
  object-fit: cover;
  position: relative;
}

.goto-mainpage {
  position: absolute;
  top: 3vw;
  left: 3vw;
  width: 10vw;
  background-color: #fff;
  border: 0.06vw solid #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2vw;
  animation: goto-mainpage-motion 0.3s linear 0s infinite alternate;
  margin-top: 0;
  font-size: 1vw;
}

.goto-mainpage p {
  color: #000;
  padding: 0.3vw 0.6vw;
  font-family: "Pretendard-Medium";
}

.goto-mainpage:hover {
  background-color: #1e67b6;
  border: none;
}

.goto-mainpage:hover p {
  color: #fff;
}

@keyframes goto-mainpage-motion {
  0% {
    top: 3.1vw;
  }
  100% {
    top: 3.4vw;
  }
}

.BulletinBoard-text {
  width: calc(100%);
  display: grid;
  place-items: center;
  margin-top: 6vw;
}

.BulletinBoard-text-line {
  width: 0.09vw;
  height: 12vw;
  background-color: #919191;
  margin: 0 auto;
  position: relative;
  margin-top: 1.2vw;
}

.BulletinBoard-text-cricle {
  width: 0.6vw;
  height: 0.6vw;
  background-color: #363636;
  border-radius: 50%;
  position: absolute;
  top: 0.6vw;
  right: -0.28vw;
  animation: BulletinBoard-cricle 3s;
  animation-iteration-count: infinite;
}

@keyframes BulletinBoard-cricle {
  from {
    top: 10.6vw;
  }
  to {
    top: 0.6vw;
  }
}

.BulletinBoard-text-inner {
  width: 37.5vw;
  animation: typing 4s steps(25), blink 0.5s step-end infinite alternate;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.18vw solid;
  font-size: 1.8vw;
  text-align: center;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.BulletinBoard-text p {
  margin-top: 0.6vw;
  font-size: 1.56vw;
}

.about-BulletinBoard {
  width: calc(100%);
  height: 18.75vw;
  display: flex;
  justify-content: center;
  margin: 6.25vw 0;
}

.about-BulletinBoard-left {
  text-align: right;
  margin-right: 5vw;
}

.about-BulletinBoard-left h3 {
  margin-bottom: 6.25vw;
  font-size: 2.5vw;
}

.about-BulletinBoard:hover .BulletinBoard-hightright {
  background-color: rgb(250, 250, 149);
  font-weight: 700;
}

.about-BulletinBoard-right p {
  margin-bottom: 0.9vw;
  font-size: 1.25vw;
}

.BulletinBoard-hightright {
  padding: 0.3vw;
  transition: all 500ms ease-in-out;
}

.about-BulletinBoard-button {
  margin-top: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  float: left;
}

.about-BulletinBoard button {
  background-color: transparent;
  border: 0.06vw solid #363636;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  font-size: 1.1vw;
  padding: 0.8vw;
}

.about-BulletinBoard button:hover {
  background-color: #363636;
  color: #fff;
}

.BulletinBoard-main-line {
  width: 1px;
  height: 12.5vw;
  background-color: #777777;
  transform: rotate(45deg);
  margin: 0 auto;
}

.BulletinBoard-main-circle {
  width: 0.6vw;
  height: 0.6vw;
  background-color: #ffe600;
  border-radius: 50%;
  position: absolute;
  top: 1.25vw;
  right: 0.3vw;
  animation: BulletinBoard-circle 3s;
  animation-iteration-count: infinite;
}

@keyframes BulletinBoard-circle {
  from {
    top: 0.6vw;
  }
  to {
    top: 10.6vw;
  }
}

.BulletinBoard-main-wrapper {
  width: calc(100% - 30%);
  margin: 0 auto;
}

.BulletinBoard-main-top {
  width: calc(100%);
  margin-top: 6.2vw;
  text-align: center;
}

.BulletinBoard-main-top h3 {
  font-size: 2vw;
  margin-bottom: 0.6vw;
}

.BulletinBoard-main-top p {
  font-size: 1.25vw;
}

.BulletinBoard-main-top-sub {
  width: calc(100% - 20%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 3vw;
}

.BulletinBoard-main-all-text {
  float: right;
  border: none;
  background-color: transparent;
  padding: 0.6vw;
  font-size: 1vw;
  border: 0.06vw solid #a0a0a0;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.BulletinBoard-main-all-text:hover {
  background-color: #ececec;
}

.freeborad-today {
  width: 12vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9vw;
  font-weight: 700;
}

.today-border {
  border: 0.12vw solid #000;
  padding: 0.3vw 0.6vw;
  border-radius: 1.25vw;
}

.freeborad-main-line-box {
  width: 12vw;
  height: 18vw;
  margin: 0 auto;
  margin-top: 5vw;
  position: relative;
}

.freeborad-main-line-circle {
  width: 10px;
  height: 10px;
  background-color: #ffe600;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 65px;
  animation: freeborad-main-circle 3s;
  animation-iteration-count: infinite;
  z-index: 100;
}

@keyframes freeborad-main-circle {
  25% {
    top: 80px;
    left: 127px;
  }
  50% {
    top: 150px;
    left: 60px;
  }
  75% {
    top: 217px;
    left: 128px;
  }
  100% {
    top: 285px;
    left: 65px;
  }
}

.freeborad-main-line1 {
  width: 1px;
  height: 100px;
  background-color: #a5a5a5;
  transform: rotate(-45deg);
  margin: 0 auto;
}

.freeborad-main-line2 {
  width: 1px;
  height: 100px;
  background-color: #777777;
  transform: rotate(45deg);
  margin: 0 auto;
  margin-top: -30px;
}

.freeborad-main-line3 {
  width: 1px;
  height: 100px;
  background-color: #777777;
  transform: rotate(-45deg);
  margin: 0 auto;
  margin-top: -30px;
}

.freeborad-main-line4 {
  width: 1px;
  height: 100px;
  background-color: #777777;
  transform: rotate(45deg);
  margin: 0 auto;
  margin-top: -30px;
}

.BulletinBoard-focus {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  position: relative;
}

.BulletinBoard-focus-inner-box {
  margin: 0 auto;
}

.BulletinBoard-detail-btn {
  text-align: center;
  margin-bottom: 50px;
}

.BulletinBoard-detail-btn button {
  border: none;
  background-color: transparent;
  font-size: 25px;
  margin-right: 100px;
  font-family: "Pretendard-Bold";
  cursor: pointer;
}

.BulletinBoard-detail-btn button:last-child {
  margin-right: 0;
}

.menu-three:hover {
  color: #363636;
}

.menu-three:hover::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ffe600;
  border-radius: 50%;
  position: absolute;
  top: -15px;
}

.menu-three1:hover::after {
  margin-left: 40px;
}

.menu-three2:hover::after {
  margin-left: 70px;
}

.menu-three3:hover::after {
  margin-left: 50px;
}

.gesifan-box.on {
  display: none;
}

.Gesifanpage {
  display: none;
}

.Gesifanpage.on {
  display: block;
  z-index: 100;
}

.Gesifangongji {
  display: none;
}

.Gesifangongji.on {
  display: block;
  z-index: 100;
}

.Geshfan-modal {
  display: none;
}

.Geshfan-modal.on {
  display: block;
}

.gesifan-box {
  width: 80%;
  margin: 0 auto;
}

.gesifan-box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.gesifan-box-top p {
  font-weight: 700;
  color: rgb(238, 31, 31);
}

.gesifan-box-wrapper {
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
}

.gesifan-box-list-1,
.gesifan-box-list-2,
.gesifan-box-list-3 {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 30px 50px;
  border-bottom: 1px solid #666666;
}

.gesifan-box-list-1 span {
  margin-right: 18px;
}

.gesifan-box-list-2 span,
.gesifan-box-list-3 span {
  margin-right: 38px;
}

.mySelect-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(206, 206, 206);
}

.mySelect-box select {
  width: 200px;
  border: none;
  font-size: 15px;
  padding: 10px 15px;
  cursor: pointer;
}

.gesifan-box-list-2 input {
  padding: 10px 15px;
  border: 1px solid rgb(206, 206, 206);
}

#content {
  width: 70%;
  height: 200px;
  border: 1px solid rgb(206, 206, 206);
}

.gesifan-box-list-4 {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.gesifan-box-list-4-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gesifan-box-list-4-top span {
  font-weight: 700;
  color: rgb(238, 31, 31);
}

.gesifan-box-list-4-main {
  width: 100%;
  margin-top: 20px;
  border: 1px solid #000;
  padding: 30px;
}

.gesifan-box-list-4-agree {
  float: right;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gesifan-box-list-4-agree input {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.gesifan-box-list-4-uplode-btn {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}

.gesifan-box-list-4-uplode-btn button {
  border: none;
  background-color: transparent;
  font-size: 15px;
  padding: 10px 30px;
  border: 1px solid #a3a3a3;
  cursor: pointer;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}

.gesifan-box-list-4-uplode-btn button:hover {
  border: none;
  background-color: #a3a3a3;
  color: #fff;
}

.Gesifanpage {
  width: 70%;
  /* border: solid red; */
  margin: 0 auto;
  margin-top: 50px;
}

.Gesifan-sort1,
.Gesifan-sort2,
.Gesifan-sort3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  padding: 30px 30px;
}

.Gesifan-sort2 {
  background: #f5f5f5;
}

.Gesifan-sort1 span,
.Gesifan-sort2 .gesifan-span {
  font-family: "Pretendard-Bold";
  font-size: 17px;
}

.Gesifan-sort1 span:nth-child(3) {
  padding: 0 80px;
}

.Gesifan-sort2 span:nth-child(3) {
  margin-left: 210px;
}

.Gesifan-sort2 span:nth-child(4) {
  margin-left: 50px;
}

.Gesifan-number-slide {
  width: 400px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.Gesifan-number-slide-btn button {
  border: none;
  color: #000;
  font-size: 20px;
  background-color: transparent;
}

.faAngleLeft,
.faChevronRight {
  font-size: 15px;
}

.Geshfan-modal {
  width: 70%;
  display: none;
  justify-content: center;
  margin: 0 auto;
}

.Geshfan-modal-moklok {
  float: right;
}

.Geshfan-modal-moklok button {
  width: 150px;
  background-color: transparent;
  border: none;
  border: 1px solid #b3b3b3;
  padding: 10px 15px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 15px;
}

.Gesifan-number-slide-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
}

.Geshfan-modal-moklok button:hover {
  background-color: #f0f0f0;
  color: #363636;
}

.Geshfan-modal-number-wrapper {
  width: 500px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.BulletinBoard-footer-wrapper {
  width: 70%;
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
  margin-top: 30px;
  color: #818181;
}

.BulletinBoard-footer {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
